In [5]:
import pandas as pd
df = pd.read_csv(r"C:\Users\mohaan\Desktop\appl_hoidays1.csv")
df

      Open    High     Low   Close    Volume
0   144.88  145.30  143.10  143.50  14277848
1   143.69  144.79  142.72  144.09  21569557
2   143.02  143.50  142.41  142.73  24128782
3   142.90  144.75  142.90  144.18  19201712
4   144.11  145.95  143.37  145.06  21090636
5   144.73  145.85  144.38  145.53  19781836
6   145.87  146.18  144.82  145.74  24884478
7   145.50  148.49  145.44  147.77  25199373
8   147.97  149.33  147.33  149.04  20132061
9   148.82  150.90  148.57  149.56  23793456
10  149.20  150.13  148.67  150.08  17868792
11  150.48  151.42  149.95  151.02  20922969
12  151.50  151.74  150.19  150.34  17243748
13  149.99  150.44  148.88  150.27  26252630

In [6]:
pd.date_range(start='7/1/2017',end='7/21/2017',freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [8]:
#import US calendar from holidays
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [10]:
rng = pd.date_range(start='7/1/2017',end='7/21/2017',freq=usb)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [11]:
# to set date as Index
df.set_index(rng,inplace=True)

In [23]:
#build u r own custom calendar for holidays

from pandas.tseries.holiday import AbstractHolidayCalendar,nearest_workday,Holiday

class myBirthdayCalendar(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """

    rules = [
        Holiday("Mohan Happy BirthDay", month=3, day=19, observance=nearest_workday),
    ]

myc = CustomBusinessDay(calendar=myBirthdayCalendar())
myc

In [24]:
pd.date_range(start="3/1/2017",end="3/31/2017",freq=myc)

DatetimeIndex(['2017-03-01', '2017-03-02', '2017-03-03', '2017-03-06',
               '2017-03-07', '2017-03-08', '2017-03-09', '2017-03-10',
               '2017-03-13', '2017-03-14', '2017-03-15', '2017-03-16',
               '2017-03-17', '2017-03-21', '2017-03-22', '2017-03-23',
               '2017-03-24', '2017-03-27', '2017-03-28', '2017-03-29',
               '2017-03-30', '2017-03-31'],
              dtype='datetime64[ns]', freq='C')

In [27]:
# fro middle east fri and sat holiday ,how to do it

b= CustomBusinessDay(weekmask = 'Sun Mon Tue Wed Thu',holidays=['2017-03-15'])
pd.date_range(start='3/1/2017',end='3/31/2017',freq=b)

DatetimeIndex(['2017-03-01', '2017-03-02', '2017-03-05', '2017-03-06',
               '2017-03-07', '2017-03-08', '2017-03-09', '2017-03-12',
               '2017-03-13', '2017-03-14', '2017-03-16', '2017-03-19',
               '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-23',
               '2017-03-26', '2017-03-27', '2017-03-28', '2017-03-29',
               '2017-03-30'],
              dtype='datetime64[ns]', freq='C')