In [1]:
import pandas as pd

p = pd.Period('2016')
p

Period('2016', 'A-DEC')

In [2]:
dir(p)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [3]:
p.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
p.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [5]:
m=pd.Period('2016-1',freq='M')
m

Period('2016-01', 'M')

In [6]:
m.start_time

Timestamp('2016-01-01 00:00:00')

In [7]:
m.end_time

Timestamp('2016-01-31 23:59:59.999999999')

In [8]:
m+1

Period('2016-02', 'M')

In [9]:
m+12

Period('2017-01', 'M')

In [10]:
d = pd.Period('2017-02-28',freq='D')
d

Period('2017-02-28', 'D')

In [11]:
d+1

Period('2017-03-01', 'D')

In [12]:
h = pd.Period('2016-02-28 22:00',freq='H')
h

Period('2016-02-28 22:00', 'H')

In [13]:
h+1

Period('2016-02-28 23:00', 'H')

In [14]:
h.start_time

Timestamp('2016-02-28 22:00:00')

In [15]:
h.end_time

Timestamp('2016-02-28 22:59:59.999999999')

In [16]:
h+1

Period('2016-02-28 23:00', 'H')

In [17]:
h+pd.offsets.Hour(5)

Period('2016-02-29 03:00', 'H')

In [18]:
h-pd.offsets.Hour(2)

Period('2016-02-28 20:00', 'H')

In [19]:
### quarterly time period
q = pd.Period('2017Q1',freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [20]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [21]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [22]:
q2 = pd.Period('2018Q2',freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [23]:
abs(q-q2)

5

In [24]:
idx = pd.period_range('2011','2017',freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [25]:
idx1 = pd.period_range('2011','2017', freq='Q-JAN')
idx1

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [26]:
idx1[0].start_time

Timestamp('2010-11-01 00:00:00')

In [27]:
idx1[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [28]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx1)),idx1)
ps

2011Q4   -1.121484
2012Q1   -1.595510
2012Q2   -1.111547
2012Q3   -0.073169
2012Q4    0.018937
2013Q1   -0.703755
2013Q2   -0.509920
2013Q3   -0.264463
2013Q4    0.059049
2014Q1   -0.695069
2014Q2   -0.167733
2014Q3   -0.727857
2014Q4   -1.941092
2015Q1   -1.538034
2015Q2    1.409373
2015Q3    0.772210
2015Q4   -0.617772
2016Q1   -1.264715
2016Q2   -0.174145
2016Q3    0.507577
2016Q4    0.604801
2017Q1    0.629758
2017Q2    0.098508
2017Q3    0.585733
2017Q4    0.379764
Freq: Q-JAN, dtype: float64

In [29]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [30]:
ps['2011']

2011Q4   -1.121484
2012Q1   -1.595510
2012Q2   -1.111547
2012Q3   -0.073169
2012Q4    0.018937
Freq: Q-JAN, dtype: float64

In [32]:
ps['2011':'2013']

2011Q4   -1.121484
2012Q1   -1.595510
2012Q2   -1.111547
2012Q3   -0.073169
2012Q4    0.018937
2013Q1   -0.703755
2013Q2   -0.509920
2013Q3   -0.264463
2013Q4    0.059049
2014Q1   -0.695069
2014Q2   -0.167733
2014Q3   -0.727857
2014Q4   -1.941092
Freq: Q-JAN, dtype: float64

In [33]:
pst = ps.to_timestamp()
pst

2010-11-01   -1.121484
2011-02-01   -1.595510
2011-05-01   -1.111547
2011-08-01   -0.073169
2011-11-01    0.018937
2012-02-01   -0.703755
2012-05-01   -0.509920
2012-08-01   -0.264463
2012-11-01    0.059049
2013-02-01   -0.695069
2013-05-01   -0.167733
2013-08-01   -0.727857
2013-11-01   -1.941092
2014-02-01   -1.538034
2014-05-01    1.409373
2014-08-01    0.772210
2014-11-01   -0.617772
2015-02-01   -1.264715
2015-05-01   -0.174145
2015-08-01    0.507577
2015-11-01    0.604801
2016-02-01    0.629758
2016-05-01    0.098508
2016-08-01    0.585733
2016-11-01    0.379764
Freq: QS-NOV, dtype: float64

In [34]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01', '2014-05-01', '2014-08-01',
               '2014-11-01', '2015-02-01', '2015-05-01', '2015-08-01',
               '2015-11-01', '2016-02-01', '2016-05-01', '2016-08-01',
               '2016-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [36]:
pst.to_period()

2010Q4   -1.121484
2011Q1   -1.595510
2011Q2   -1.111547
2011Q3   -0.073169
2011Q4    0.018937
2012Q1   -0.703755
2012Q2   -0.509920
2012Q3   -0.264463
2012Q4    0.059049
2013Q1   -0.695069
2013Q2   -0.167733
2013Q3   -0.727857
2013Q4   -1.941092
2014Q1   -1.538034
2014Q2    1.409373
2014Q3    0.772210
2014Q4   -0.617772
2015Q1   -1.264715
2015Q2   -0.174145
2015Q3    0.507577
2015Q4    0.604801
2016Q1    0.629758
2016Q2    0.098508
2016Q3    0.585733
2016Q4    0.379764
Freq: Q-DEC, dtype: float64

In [ ]:
# walmart data

In [38]:
df = pd.read_csv(r"C:\Users\mohaan\Documents\walmart.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [41]:
# to set Line Item as index
df.set_index('Line Item', inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [42]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [43]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [44]:
# ot convert  df.index into periodindex
df.index  = pd.PeriodIndex(df.index,freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [45]:
# to create a new column 'start_time'
df['start_time']=df.index.map(lambda x : x.start_time)
df

Line Item  Revenue  Expenses  Profit start_time
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [48]:
# to create another column 'end_time'
df['end_time'] = df.index.map(lambda x : x.end_time)
df

Line Item  Revenue  Expenses  Profit start_time   end_time
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30